<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">


  <%= render partial: 'spree/shared/header' %>
  


	<div class="container">
      <div id="wrapper" class="row" data-hook>

<!-- la linea de abajo arroja una lista de las categorías -->
   <!--     <%= taxon_breadcrumbs(@taxon) %> -->

 

        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
     </div>
 </div>
 <!--    END MAIN CONTENT  -->


  <!--     MAIN FOOTER    -->
           <%= render partial: 'spree/shared/footer' %>

  <!--   END MAIN FOOTER   -->
 
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
      (function($) {          
        $(document).ready(function(){                    
          $(window).scroll(function(){    

          var mq = window.matchMedia( "(max-width: 800px)" );
                  if (mq.matches) {
                      // window width is at less than 800px
                  }
                  else {
                      // window width is greater than 800px
                              if ($(this).scrollTop() > 220) {
                                $('#fixed-header').fadeIn(200);
                              } else {
                                $('#fixed-header').fadeOut(200);
                              }
                  }                      

          });
        });
      })(jQuery);
    </script>

    

  </body>
</html>
