<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>

<li>

<div class = "row ch4_cartItem">

    <!-- Imagen del producto listado -->
    <div class="ch4_cartItemImg" data-hook="cart_item_image">
      <% if variant.images.length == 0 %>
      <%= link_to image_tag(variant.product.display_image.attachment(:large),height: 180, width: 150), variant.product %>
      <% else %>
      <%= link_to image_tag(variant.images.first.attachment.url(:large), height: 180, width: 150), variant.product %>
      <% end %>
    </div>

    <div class="ch4_cartItemContent" data-hook="cart_item_description">
      <div class="ch4_cartItemPricing " data-hook="cart_item_description">
          <p class = "ch4_cartItemPrice"><%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
          </p>
      </div>

      <div class = "ch4_cartItemOptionsContainer">
          <p class = "ch4_cartItemTitle">
            <%= link_to line_item.name, product_path(variant.product) %>
            <%= variant.options_text %> <br>
          </p>
          <% if line_item.insufficient_stock? %>
          <span class="out-of-stock">
            <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
          </span>
          <% end %>

          <div class="ch4_cartItemOptions">
            <!--
            <span class="ch4_cartItemOption"><span class="ch4_cartItemLabel">Size:</span>&nbsp;
            S (8)</span>
          -->
          <div class="ch4_cartItemOption"><div class="ch4_cartItemLabel">Details:</div>
            <!-- price information and personalization display -->
            
            <!--
            <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %>
            -->
              <!-- Selector de cantidad de productos -->
               <div id = "ch4_miniPDP " class="style-select-wrapper">
                  <%= item_form.select(:quantity, {}, {:class => 'ch4_miniPDPBuyingTools quantity-dropdown mediumSelect select-blk', :name => 'qty' }) do %>
                                         
                      <%= options_for_select(['Qty','1','2','3','4','5','6','7','8','9','10'], selected: line_item.quantity) %>                      
                  <% end %>
                  
                  <div class="style-select style-select-blk"></div>
              </div>

              <div class="form-group">

                          
              </div>

            </div>

          </div>
      </div>

      <!--
      <span class="line-item-description" data-hook="line_item_description">
        <%= line_item_description_text(line_item.description) %>
      </span>
      -->


    </div>




</div>
</li>

<% end -%>



