<div id="checkout" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <div class="row" data-hook="checkout_header">
    <div class='col-md-12'>
      <h1 class="columns three alpha" data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
      <div class="columns thirteen omega" data-hook="checkout_progress">
        <%= checkout_progress %>  
      </div>
    </div>
  </div>
  <hr>
  <div class="row" data-hook="checkout_content">
    <div class="<%= if @order.state != 'confirm' then 'col-md-9' else 'col-md-12' end %>" data-hook="checkout_form_wrapper">
      <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
        <% if @order.state == 'address' || !@order.email? %>
          <div class="field form-group" style='clear: both'>
            <%= form.label :email %>
            <%= form.text_field :email, class: 'form-control' %>
          </div>
        <% end %>
        <hr>
        <%= render @order.state, :form => form %>
      <% end %>
    </div>
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
        <%= render :partial => 'summary', :locals => { :order => @order } %>
      </div>
    <% end %>
 <form method="post" action="https://sandbox.gateway.payulatam.com/ppp-web-gateway/">
  <input name="merchantId"    type="hidden"  value="508029"   >
  <input name="accountId"     type="hidden"  value="512321" >
  <input name="description"   type="hidden"  value="Compra Tamarindo"  > 
  <input name="referenceCode" type="hidden"  value=<%= @order.number %> > <!-- @order.number-->
  <input name="amount"        type="hidden"  value=<%= @order.total %>   > <!-- @order.total-->
  <input name="tax"           type="hidden"  value=<%= @order.adjustment_total %>  > <!-- @order.adjustment_total-->
  <input name="taxReturnBase" type="hidden"  value=<%= @order.item_total + @order.shipment_total %> > <!-- @order.item_total + @order.shipment_total-->
  <input name="currency"      type="hidden"  value=<%= @order.currency %> > <!-- @order.currency-->
  <input name="signature"     type="hidden"  value=<%= getSignature %>  > 
  <input name="test"          type="hidden"  value="1">
  <input name="buyerEmail"    type="hidden"  value=<%= @order.email %> > <!-- @order.email-->
  <input name="responseUrl"    type="hidden"  value= "http://localhost:3000/checkout/confirm" > <!--pagina a redireccionar despues del procedimiento "http://localhost:3000/orders/<%= @order.number %>"-->
  <input name="confirmationUrl"    type="hidden"  value=<%= checkout_path %> >
  <input name="shippingAddress" type="hidden" value="calle 93 n 47 - 65" > 
  <input name="shippingCity" type="hidden" value="Bogota" > 
  <input name="shippingCountry" type="hidden" value="CO" > 
  <input name="Submit"        type="submit"  value="Enviar" >
</form>

  </div>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>


<%= debug(@order) if Rails.env.development? %>