<h1 class="taxon-title"><%= @taxon.name %></h1>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.children.empty? %>
  </div>
<% end %>


<!--  Nota 1: Esta parte estará comentada para evitar mostrar los productos dos veces por página. Solo se mostrará taxon children 
      Nota 2: Se agregó el condicional if @taxon.children.empty? para que funcionaran las vistas con las taxonomías más detalladas. Es decir, aquellas que no tienen children.
-->

<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } if @taxon.children.empty? %>
</div>


<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>


